main {
  .headerWrapper {
    display: flex;
    align-items: center;

    height: 6.5625rem;
  }

  .bannerWrapper {
    display: flex;
    justify-content: center;

    max-width: 1440px;
    max-height: 400px;
    margin: 0 auto;

    img {
      max-width: 1440px;
      height: auto;
      object-fit: cover;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-size: 3rem;
      line-height: 3.625rem;
      letter-spacing: -0.5px;
    }

    > header {
      .info {
        display: flex;
        align-items: flex-start;

        gap: 1.5rem;
        margin-top: 1.5rem;

        color: var(--info);
        font-size: 0.875rem;
        line-height: 1.0625rem;

        @media (max-width: 650px) {
          gap: 0.75rem;
        }

        @media (max-width: 460px) {
          gap: 1 0.5rem;
        }

        > div {
          display: flex;
          gap: 0.5rem;

          @media (max-width: 650px) {
            gap: 0.25rem;
          }

          @media (max-width: 460px) {
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
          }
        }
      }

      p {
        margin-top: 1rem;

        font-size: 0.875rem;
        font-style: italic;
        color: var(--info);
      }
    }

    .content {
      max-width: 45rem;
      margin-bottom: 3.75rem;

      text-align: justify;
      line-height: 1.5625rem;

      h2 {
        font-size: 2.25rem;
        line-height: 140%;

        margin-top: 4rem;
        margin-bottom: 2.25rem;
      }

      p,
      span {
        color: var(--body);
      }

      ul,
      ol {
        color: var(--body);
      }

      a {
        color: var(--highlight);
      }
    }

    footer {
      width: 100%;
      max-width: 43.75rem;
      border-top: 1px solid rgba(#d7d7d7, 0.1);

      > div {
        display: flex;
        margin-top: 3rem;

        > button {
          background: none;
          border: none;

          letter-spacing: 0.5px;
          color: var(--body);

          p:last-child {
            margin-top: 0.5rem;

            font-size: 1rem;
            font-weight: 600;
            color: var(--highlight);
          }
        }

        .prevButton {
          text-align: left;
        }

        .nextButton {
          margin-left: auto;
          text-align: right;
        }
      }
    }
  }
}
